/* GENERAL STYLES */
:root{
    scroll-behavior: smooth;

    --debug: none; 
    --nav-height-percent: 10rem;

    --color-black: #000407;
    --color-dark: #191718;
    --color-light-dark: #2d292b;
    --color-darkgrey: #3a3638;
    --color-red: #4a0212;
    --color-yellow: #edb518;
    --color-active-yellow: #bc9018;
    --color-lightgrey: #f5f7f7;
    --color-line-grey: rgba(245, 247, 247, 0.6);
    --color-blue: #2b2e4a;
    --font-color-red: #79031d;
    --font-color-grey: #766f73;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-lightgrey);
    border: var(--debug);
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
    font-size: 1.6rem;
    background: var(--color-black);
    background-image: url("/src/front_image.jpg");
    background-repeat: no-repeat;
    height: calc(100vh - var(--nav-height-percent));
    background-position: 100% 50%;
    background-size: 80%;
    background-color: var(--color-black);
    line-height: 1.5;
}
html {
    font-size: 62.5%;
    height: 100%;
}
@media (max-width: 1300px) {
    html {
    font-size: 58%;
    }
}
@media (max-width: 850px) {
    html {
    font-size: 53%;
    }
}
a, i{
    cursor: pointer;
}

/* ########################################################## */

/* HEADER STYLES */
.header, .footer{
    min-height: var(--nav-height-percent);
    background-color: rgba(0, 4, 7, 0.75);
    width: 100%;
    padding: 2em 0;
}
.header{
    position: sticky;
    /* top: 0; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    border-bottom: 1px solid var(--color-line-grey);
    z-index: 100;
}
#title_logo{
    position: relative;
    color: var(--font-color-red);
    width: 100%;
}
#title_logo::before{
    content: '';
    height: 110%;
    width: 120%;
    position: absolute;
    background-color: var(--color-yellow);
    transform: skew(-20deg);
    z-index: -100;
    left: -10%;
}
.menu, .company{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.menu{
    width: 100%;
    padding: 0 0 0 20%;
}
.company{
    width: 50%;
    margin-right: auto;
    padding-right: 30%;
}
.menu_item{
    margin-left: auto;
    height: 100%;
    text-transform: uppercase;
}
.menu_text{
    position: relative;
}
.nav_link:hover{
    color: var(--font-color-red);
    font-size: 1.1em;
}
.nav_link:hover::before{
    content: '';
    height: 110%;
    width: 160%;
    position: absolute;
    background-color: var(--color-yellow);
    transform: skew(20deg);
    z-index: -100;
    left: -30%;
    animation: einblenden 0.1s;
}
@keyframes einblenden{
    from {opacity: 0; }
    to {opacity: 1; }
}
@media (max-width: 1110px){
    .menu{
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: var(--color-black);
        transition: all 0.3s;
    }
    .menu.active{
        opacity: 1;
        visibility: visible;
    }
    .menu_item{
        font-size: 1.8rem;
    }
}
.menu-toggle {
    display: none;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    z-index: 1100;
}
.header .menu-toggle .icon {
    position: relative;
    width: 4rem;
}
.header .menu-toggle .icon .line {
    position: absolute;
    right: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-lightgrey);
    transition: all 0.3s;
}
.header .menu-toggle .icon .line:nth-child(1) {
    top: -1rem;
    width: 100%;
}
.header .menu-toggle .icon .line:nth-child(2) {
    width: calc(100% - 0.5rem);
}
.header .menu-toggle .icon .line:nth-child(3) {
    top: 1rem;
    width: calc(100% - 1rem);
}
.header .menu-toggle.active .icon .line:nth-child(1) {
    top: 0;
    width: 100%;
    transform: rotate(135deg);
}
.header .menu-toggle.active .icon .line:nth-child(2) {
    display: none;
}
.header .menu-toggle.active .icon .line:nth-child(3) {
    top: 0;
    width: 100%;
    transform: rotate(-135deg);
}
@media (max-width: 1110px) {
    .header .menu-toggle {
        display: flex;
    }
    .menu{
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;
        padding: 3em;
    }
    .menu_item{
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .menu_item:last-child{
        margin-bottom: 20vh;
    }
}


/* TO-TOP BUTTON STYLES */
.button{
    font-size: 1.5em;
    background-color: var(--color-yellow);
    position: fixed;
    top: 90%;
    left: 95%;
    text-align: center;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    cursor: pointer;
    z-index: 1000;
}
.nav_link:active::before,
.button:active{
    background-color: var(--color-active-yellow);
}
#arrow{
    color: var(--font-color-red);
    font-size: 1.5em;
    position: relative;
    top: 2px;
}


/* MAIN STYLES */
.main{
    min-height: calc(100vh - var(--nav-height-percent));
}


/* SECTION STYLES */
.section{
    min-height: 100vh;
    background-color: var(--color-dark);
    max-width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    padding: 1vw 3vw 3vw 3vw;
}
.headline{
    display: block;
    font-weight: bold;
    color: var(--color-yellow);
}
.headline1{
    font-size: 4em;
}
.headline2{
    font-size: 2.5em;
}
.description{
    color: var(--color-lightgrey);
    font-size: 1.5em;
    line-height: 1.6em;
}
.description1{
    margin-top: 4em;
}
.description2{
    margin-top: 2.5em;
}
@media (max-width: 1110px){
    .headline1{
        font-size: 3em;
    }
    .headline2{
        font-size: 2em;
    }
    .description{
        font-size: 1.3em;
    }
    .description1{
        margin-top: 3em;
    }
}
.content{
    display: block;
    padding: 1vw 3vw;
    height: 100%;
    width: 100%;
}
/* +++++++++++++++ */
#home{
    padding-top: 2vw;
    padding-bottom: 5vw;
    background: rgb(121,3,29);
    background: linear-gradient(180deg, rgba(121,3,29,0) 70%, rgba(0,4,7,1) 100%), linear-gradient(90deg, rgba(0,4,7,1) 0%, rgba(0,4,7,1) 20%, rgba(121,3,29,0) 66%);
    min-height: calc(100vh - var(--nav-height-percent));
    border-bottom: 1px solid var(--color-line-grey);
}
.home_content{
    text-align: left;
}
.cover_button{
    margin-top: 5em;
    background-color: var(--color-yellow);
    color: var(--font-color-red);
    padding: 0.5em 2em;
    border-radius: 5px;
    font-size:  1.2em;
    font-weight: bold;
    cursor: pointer;
}
.cover_button:active{
    background-color: var(--color-active-yellow);
}
@media (max-width: 1250px){
    body{
        background-size: cover;
    }
}
@media (max-width: 1110px){
    #home{
        background: linear-gradient(180deg, rgba(121,3,29,0) 60%, rgba(0,4,7,1) 100%), linear-gradient(90deg, rgba(0,4,7,1) 0%, rgba(0,4,7,1) 20%, rgba(121,3,29,0) 66%);
    }
}
@media (max-width: 950px){
    #home{
        background: linear-gradient(180deg, rgba(121,3,29,0) 60%, rgba(0,4,7,1) 100%);
    }
}
/* +++++++++++++++ */
#offers{
    position: relative;
    background: var(--color-dark);
    background: -webkit-linear-gradient(bottom, var(--color-dark), var(--color-black));
    background: -moz-linear-gradient(bottom, var(--color-dark), var(--color-black));
    background: linear-gradient(0deg, var(--color-dark) 80%, var(--color-black));
    border-bottom: 1px solid var(--color-line-grey); 
    scroll-padding: 3vw;
}
#offers::before,
#offers::after{
    position: absolute;
    content: '';
    width: 78px;
    height: 77px;
    background: var(--color-dark);
    bottom: -1em;
    z-index: 100;
    border-bottom: 1px solid var(--color-line-grey); 
}
#offers::before{
    right: 50%;
    transform: skew(0, 20deg);
}
#offers::after{
    left: 50%;
    transform: skew(0, -20deg);
}
.offer_content{
    padding: 3vw 3vw;
    /* display: flex;
    align-items: center; */
    z-index: 300;
    text-align: center;
}
.cards{
    margin: 4em auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    text-align: center;
    min-width: 80%;
    max-width: 95%;
    min-height: 60vh;
    flex-wrap: wrap;
}
.card{
    border: 1px solid var(--color-line-grey); 
    margin: 0 auto;
    border-radius: 10px;
    max-width: 22%;
    display: flex;
    align-items: center;
    min-width: 230px;
    text-align: center;
    flex-direction: column;
    background-color: var(--color-light-dark);
    padding: 0 0 5em 0;
    flex-grow: 1;
    transition: transform 0.3s;
}
.card:hover{
    background-color: var(--color-darkgrey);
    /* box-shadow: 5px 5px 7px 0px rgba(245,247,247,0.75), -5px -5px 7px 0px rgba(245,247,247,0.75);
    -webkit-box-shadow: 5px 5px 7px 0px rgba(245,247,247,0.75), -5px -5px 7px 0px rgba(245,247,247,0.75);
    -moz-box-shadow: 7px 7px 23px 0px rgba(245,247,247,0.75); */
    box-shadow: 0 0 15px rgba(245,247,247,0.75);
    border: 1px solid var(--color-line-grey);
    transform: scale(1.03);
}
.card_description{
    padding: 2em 1em 0 1em;
}
.card_img_div{
    display: block;
    min-height: 60%;
}
.card-description,
.card_description_body{
    margin-top: 1em;
}
.card_img{
    border-radius: 10px 10px 0 0;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card_description_header{
    color: var(--color-yellow);
    font-weight: bold;
    font-size: 1.5em;
}
.card_description_body{
    font-size: 1.2em;
}
@media (max-width: 1250px){
    .card{
        margin-bottom: 2em;
    }
}
/* +++++++++++++++ */
#team{
    background: var(--color-red);
    border-bottom: 1px solid var(--color-line-grey); 
}
.team_content{
    min-width: 60vw;
    max-width: 80vw;
    text-align: center;
}
.members{
    margin-top: 5vw;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}
.member{
    border: 1px solid black;
    margin: 0 auto;
    min-width: 260px;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-light-dark);
    padding: 3vh 3vh;
    border: 1px solid var(--color-yellow);
    border-radius: 5px;
    transition: transform 0.3s;
}
.member:hover{
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(245,247,247,0.75);
}
.member_icon{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}
@media (max-width: 1110px){
    .member{
        margin-bottom: 2em;
    }
    #team{
        padding: 6vh 0;
    }
}
.member_name{
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--color-yellow);
}
.member_position{
    margin-top: 1rem;
    font-size: 1.1em;
}
.horizontal{
    height: 1px;
    width: 70%;
    margin: 5vw auto 0 auto;
    z-index: 1001;
    background-color: var(--color-yellow);
}
/* +++++++++++++++ */
#about{
    position: relative;
    text-align: center;
}
#about::before,
#about::after{
    position: absolute;
    content: '';
    width: 78px;
    height: 77px;
    background: var(--color-dark);
    top: -1em;
    z-index: 100;
    border-top: 1px solid var(--color-line-grey); 
}
#about::before{
    transform: skew(0, -20deg);
    right: 50%;
}
#about::after{
    transform: skew(0, 20deg);
    left: 50%;
}
.info_container{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;
    min-width: 90vw;
    max-width: 95vw;
    min-height: 60vh;
    border: 1px solid white;
    padding: 12% 5em;
    flex-wrap: wrap;
}
.location, .hours, .contact{
    margin: 0 auto;
    /* width: auto; */
    width: 30%;
    min-width: 220px;
    max-width: 280px;
    max-height: 280px;
    background-color: var(--color-light-dark);
    padding: 1.5em 3em;
    transition: transform 0.3s;
}
.location:hover, .hours:hover, .contact:hover{
    background-color: var(--color-darkgrey);
    transform: scale(1.03);
}
.location{
    cursor: pointer;
}
.info_heading{
    letter-spacing: 0.1em;
    font-weight: bold;
    color: var(--color-yellow);
}
.info{
    padding-top: 2em;
}
@media (max-width: 960px){
    .info_container{
        z-index: 200;
    }
    .location, .hours, .contact{
        margin-bottom: 2em;
    }
}

/* FOOTER STYLES */
.footer{
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.footer_link{
    letter-spacing: 0.1em;
}
.divide{
    padding: 0 0.5em;
}
.copyright{
    margin-top: 2vh;
    color: var(--font-color-grey);
}


/* REMAINING STYLES */
@media (max-width: 1300px){
    .button{
        left: 90%;
    }
}
@media (max-width: 620px){
    .button{
        left: 85%;
    }
}
@media (max-width: 420px){
    .button{
        left: 80%;
    }
}